:root {
  --black: black;
  --white: white;
  --hover: rgb(42, 42, 42); 
}

body {
  font-family: sans-serif;
  color: white;
  background-color: black;
}

main {
  min-height: calc(100vh - 120px);
  background: var(--black);
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  padding: 1em;
  margin-top: 1em;
}

#headerContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3em;
}

#releaseGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3em;
}

#releaseGridContainer {
  display: grid;
  grid-template-columns: 1fr;
}

#releaseGrid th{
  position: sticky;
}


#headerBtn {
  background-color: var(--black);
  color: var(--white);
  border: none;
  border-radius: none;
  letter-spacing: 0.05em;;
  margin: 0em, 2em;
}

#headerBtn:hover {
  background-color: var(--hover);
  cursor: pointer;
}

#searchBar {
  background-color: var(--black);
  color: var(--white);
  border: none;
  border-radius: none;
  letter-spacing: 0.05em;;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: var(--black);
}

tr:hover {
  background-color: var(--hover);
  cursor: pointer;
}

#lineSeparator {
  border: 1px solid rgb(7, 7, 74);
}

#tracksTableBody tr:hover {
  background-color: transparent;
  cursor: default;
}

#featuringTracksTableBody tr:hover {
  background-color: transparent;
  cursor: default;
}


